body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  border-spacing: 20px;
}

th, td {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
